* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 80px;
    padding: 72px;
    position: relative;
}

.header_logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.header_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%)
}

.header_nav-items {
    list-style: none;

}
.header_nav-items >*:not(:first-child) {
    margin-left: 10px;

}

.header_nav-item {
    display: inline-block;

}

.header_actions {
    position: absolute;
    top: 50%;
    right: 72px;
    transform: translateY(-50%)

}

.hero {
    position: relative;

}

.hero::after {
    content: "";
    display: block;
    clear: both;

}

.hero_header-container {
    position:absolute;
    width: 40%;
    padding-left: 72px;
    top: 50%;
    transform: translateY(-50);

}

.hero_header-container >*:not(:first-child) {
    margin-top: 24px;
}

.hero_img {
    float: right;
    width: 50%;

}

.product {
    display: inline-block;
    width: 375px;
    position:relative;

}

.product_overlay {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.product_img {
    width: 375px;
    height: 386px;
    
}


.product_details {
     float: left;
     width: 80%;

}

.product_cta {
    right:right;
    width: 32px;

}

.testimonial {
    padding: 0 72px;
    text-align: center;

}

.testimonials {
    display: inline-block;
    width: 30%;

}

.testimonials_cover {
    width: 100%;
    max-height: 200px;
    object-fit: cover;

}

.testimonials_details {
    padding: 8px 16px;

}

.testimonials_snippet {
    text-align: left;

}

.testimonials_author {
    text-align: right;
}
