* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 86.24px;
    color: #5FD788;
   
}
h2 {
    font-size:50px; 
    font-weight: 700; 
    line-height: 54px;
    color: #5FD788;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #9CA3AF;
    ;
}
.product_name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.product_price {
    font-size: 10px;
    line-height: 28px;
    font-weight: 700;
}

